*{
	color: #1f281d;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	margin: 0;
}
body{
	background: #f1f1f1;
}
a{
	text-decoration: none;
}
h2{
	margin-top: 20px;
	font-size: 32px;
	text-transform: uppercase;
}
.btn-ant,
.btn-pro{
	position: absolute;
	top: 50%;
	line-height: 32px;
	margin-top: -16px;
	height: 32px;
	width: 32px;
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	font-size: 16px;
	font-weight: bold;
}
.btn-ant:hover,
.btn-pro:hover{
	background: #cbd1d2;
	color: #f9f9f9;
}
.btn-ant{
	left: 80px;
}
.btn-pro{
	right: 80px;
}
h3{
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}
table{
	margin-top: 20px;
	border-collapse: collapse;
}
.conteudo{
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	width: 500px;
}
.calendario{
	text-align: center;
}
.calendario header{
	position: relative;
}
.calendario thead{
	font-weight: 600;
	text-transform: uppercase;
}

.calendario tbody{
	color: #7c8a95;
}
.calendario tbody td{
	cursor: pointer;
}
.calendario tbody td:hover{
	background: rgba(0, 173, 223,0.8);
	color: #f9f9f9;
}
.calendario td{
	border: 1px solid #cbd1d2;
	height: 71.4px;
	text-align: center;
	width: 71.4px;
}
.calendario .mes-anterior,
.calendario .proximo-mes{
	color: #cbd1d2;
}
.calendario .mes-anterior:hover,
.calendario .proximo-mes:hover{
	background: #98a0a0;
}
.dia-atual{
	background: #00addf;
	color: #f9f9f9;
}
.event{
	position: relative;
}
.event:hover::after{
	background: #f9f9f9;
}
.event:after{
	content: '';
	width: 7px;
	height: 7px;
	left: 50%;
	bottom: 7px;
	margin: -3.5px 0 0 -3.5px;
	background: #00addf;
	display: block;
	position: absolute;
	border-radius: 50%;
}
.event.dia-atual:after{
	background: #f9f9f9;
}